<div class="bg-dark p-3" id="sidebar">
  <h2 class="text-white">Paises</h2>
  <hr class="text-white" />
  <ul class="list-group">
    <!-- <li
      routerLink="home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="list-group-item"
    >
      Home Page
    </li>
    <li routerLink="about" routerLinkActive="active" class="list-group-item">
      About Page
    </li>
    <li routerLink="contact" routerLinkActive="active" class="list-group-item">
      Contact Page
    </li> -->
    <li
      routerLink="countries/by-capital"
      routerLinkActive="active"
      class="list-group-item"
    >
      Por capital
    </li>
    <li
      routerLink="countries/by-country"
      routerLinkActive="active"
      class="list-group-item"
    >
      Por país
    </li>
    <li
      routerLink="countries/by-region"
      routerLinkActive="active"
      class="list-group-item"
    >
      Por región
    </li>
  </ul>
</div>
